[user]
	name = iHuHoo.W
	email = ihuhoo.w@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	branch = auto
	interactive = auto
	status = auto
	diff = auto
[core]
	eof = lf
	excludesfile = ~/.gitignore
